{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "rules": {
    // https://eslint.org/docs/rules/no-extra-boolean-cast
    "no-extra-boolean-cast": ["off", {"enforceForLogicalOperands": true}],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
    }]
  }
}